* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Xóa gạch chân & đổi màu mặc định */
a {
  text-decoration: none;
  color: rgb(35, 42, 238); /* Màu bình thường */
  font-size: 105px;
  font-family: "Times New Roman", serif;
  transition: color 0.3s ease; /* Hiệu ứng mượt */
}

/* Khi di chuột vào, đổi màu */
a:hover {
  color: rgb(255, 0, 17); /* Đổi thành màu đỏ */
}

table a:hover {
  color: rgb(255, 0, 8);
}

/* Nội dung */

/* Phần tiêu đề */
.title {
  font-family: "Times New Roman", serif;
  color: coral;
  font-size: 100px;
  font-weight: bold;
}

/* Phần thân trang mục 1 */
.customtable {
  width: 100%;
  border-spacing: 0;
}

.customtable1 {
  text-align: center;
}

.customtable2 {
  width: 10%;
  border-spacing: 0;
  vertical-align: top; /* Căn nội dung lên trên */
}

/* Phần thân trang mục 2 */
.table1 {
  width: 100%;
  height: 1000px;
  border: none;
  border-spacing: 0;
}

.customtd {
  width: 10%;
  vertical-align: top;
}

.customeiframe {
  width: 100%;
  height: 1000px;
  border: none;
}

/* Chân trang */
.footer,
.header {
  font-family: "Times New Roman", Times, serif;
  font-size: 3px;
}
/* thanhvienlop.html */

.title1 {
  font-family: "Times New Roman", serif;
  color: rgb(44, 105, 220);
  font-size: 20px;
  font-weight: bolder;
}

.title2 {
  font-family: "Times New Roman", serif;
  font-style: normal;
  color: rgb(36, 93, 199);
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}

.title3 {
  font-family: "Times New Roman", Times, serif;
  color: rgb(36, 93, 199);
  font-size: 17px;
}
.table {
  border-collapse: collapse;
  border: 1px solid cornflowerblue; /* Viền xanh nước biển */
}

.table th,
.table td {
  border: 1px solid cornflowerblue; /* Viền xanh nước biển */
  padding: 8px;
  text-align: center;
}

